* {
    --main-color:rgb(170, 96, 255);
    --main-color-darker: 
}

.text-color-main {
    color: var(--main-color);
}

a {
    color: var(--main-color);
}

.rounded-xl { border-radius: 8px }
.rounded-top-xl { border-radius: 8px 8px 0 0 }
.rounded-bottom-xl { border-radius: 0 0 8px 8px }

.bg-main {
    background-color: var(--main-color);
}

.btn-main {
    background-color: var(--main-color);
    color: white;
    transition: 0.3s;
}
.btn-main:hover {
    background-color: var(--main-color);
    filter: brightness(85%);
}

.text-note {
    color: grey;
    font-size: 12px;
}

.bg-grey {
    background-color: #f5f5f5;
}